#imgsection,
#imgsection1 {
    height: 100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    #imgsection1 {
        width: 100vw!important;
        height: 100vh!important;
        background-position: left!important;
    }
    #imgsection {
        display: none!important;
    }
    body {
        display: block!important;
    }
}

@media only screen and (max-width: 650px) {
    #imgsection img {
        width: 75%!important;
    }
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

#imgsection {
    background-color: #f6f7f9;
}

#imgsection1 {
    background-color: #fbfcfe!important;
    background-image: url('bg.jpg');
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position-x: -50%;
}